<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        {% load static %}
        <link href="{% static 'bjj_app/bjj.jfif' %}" rel="icon">
        <link href="{% static 'bjj_app/styles.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- Ajax link -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        <title>iGrapple-U: {% block title %}{% endblock %}</title>

    </head>

    <body>
        
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="{% url 'login:index' %}"><span class="blue">B</span><span class="red">J</span><span class="yellow">J</span> <span class="green">Move</span> <span class="red">Library</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login:new' %}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login:index' %}">Log In</a></li>
                </ul>                
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">iGrapple-U Fight Library</h1>
        </div>
        {% if messages %}
            <header class="messages"> 
                <div {% if messages.tags %} class="alert alert-primary border text-center {{messages.tags}}" role="alert"{% endif %}>
                    {{ messages }}
                </div>
            </header>
        {% endif %}

        <main id="content" class="container p-5">
            {% block content %}{% endblock %}
        </main>
        
        <footer class="small text-center text-muted">
            BJJ Governing Bodies <a href="https://www.sjjif.com/membership.php">SJJIF</a>. View <a href="https://ibjjf.com/">IBJJF</a>.
        </footer>
    </body>
</html>
